* {
    margin: 0;
    box-sizing: border-box;
    font-family: Borel, sans-serif;
}

header {
    width: 100%;
    height: 15vh;
    background-image: url('img/wooden.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
}

.sec1 {
    position: relative;
    width: 100%;
    height: 50vh;
    background-color: palevioletred;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sec1 img {
    height: 45vh;
    margin: 2.5vh;
    float: left;
}

.sec1 div {
    margin: 10%;
    background-color: white;
    width: 40%;
    height: 80%;
    color: black;
}

