* {
    margin: 0;
    box-sizing: border-box;
    font-family: fantasy;
}

header {
    width: 100%;
    height: 15vh;
    background-image: url('img/wooden.jpg');
    background-repeat: no-repeat;
    background-position: cover;
    text-align: center;
}

.sec1 {
    width: 100%;
    height: 50vh;
    background-color: palevioletred;
}

.sec1 img {
    height: 35vh;
    margin: 5vw;
    float: left;
}

.sec1 div {
    float: right;
    margin: 5vw;
    background-color: white;
}

